body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://i.ibb.co/0VZRMHx/databitoriginal-escura.jpg);
    margin: 0;
}

textarea{
    overflow: hidden; 
    overflow-y: scroll; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}


.form-geral,
.form-serie {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40rem;
}


.logo{
    height: auto;
    width: auto;
}

@media screen and (max-width: 740px) {

    .form-geral,
    .form-serie {
        width: auto;
        height: auto;
    }

    .div-form {
        height: 100%;
    }
}

.form-voltar {
    background: #DCDCDC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 15px 15px grey;
    width: 30rem;
    text-align: center;
}

.input-contador::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.div-form {
    position: absolute;
}

.div-save {
    position: relative;
    z-index: 1;
    float: center;
}

.div-serie {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

h1,
.titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: Helvetica, sans-serif;
    color: blue;
}

.retErro {
    color: red;
    font-size: small;
}

.msg-os {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    font-family: Helvetica, sans-serif;
    color: red;
}

.OSCriada {
    color: red;
}

.OSCriadaTx {
    color: blue;
}

img {
    height: 50;
    width: 100px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
}


.form-input {
    width: 100%;
    margin-left: 2px;
}

.form-serie {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid blue;
    border-radius: 20px;
  
}

.form-group textarea {
    resize: vertical;
}

.form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-group .period {
    display: flex;
    justify-content: space-between;
}

.form-group .period select {
    width: 49%;
}

.div-save {
    position: relative;
    z-index: 1;
}

.h7-nome-btn {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3px;
    color: blue;
    opacity: 10;
    font-size: small;
}

.label-text-toner {
    margin-bottom: 10px;
    color: blue;
}

/* Filtros de lista */

.custom-select {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    width: 100%;
    margin-left: 2px;

  }

  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid blue;
  }

  .select-items {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 1;
    width: 100%;
    border-radius: 20px;
  }

  .select-items div {
    padding: 10px;
    cursor: pointer;
  }

  .select-items div:hover {
    background-color: #f1f1f1;
  }



