th, td {
    white-space: nowrap;
    border-radius: 15px;
}
.table-container {
    overflow-x: auto;
    overflow-y: auto;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #000000;
    width: 100vw; /* 100% da largura da tela */
    height: 80vh; /* 100% da altura da tela */
}
thead th.sticky {
    position: sticky;
    top: 0;
    background-color: rgb(234, 230, 230);
    z-index: 2;
}
thead th.fixed {
    position: sticky;
    left: 0;
    z-index: 3;
    background-color: rgb(234, 230, 230);
}
tbody td.fixed {
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 1;
}


thead th.fixed2 {
    position: sticky;
    left: 220;
    z-index: 3;
    background-color: rgb(234, 230, 230);
}
tbody td.fixed2 {
    position: sticky;
    left: 220;
    background-color: white;
    z-index: 1;
}